# Folders
.vs/*
Binary/*
Build/*
Framework/Library/*
Framework/Source/Platform/Vulkan_Shaders/Temp/*
Game001/Binary/*
Game002/Binary/*
Library/*
TestApplication/Binary/*
TestApplication/Build/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
